{
    "openapi": "3.1.0",
    "x-stoplight": {
        "id": "a2po69cdhpu6e"
    },
    "info": {
        "title": "BioGazelle",
        "version": "1.2.0",
        "license": {
            "name": "ISC",
            "url": "https://github.com/biotorrents/gazelle/blob/development/LICENSE"
        },
        "contact": {
            "name": "Omics Tools LLC",
            "url": "https://torrents.bio",
            "email": "hello@torrents.bio"
        },
        "termsOfService": "https://torrents.bio/privacy",
        "description": "Please generate a token in the user security settings and keep it safe. It's functionally a password, and as such, can't be recovered later.\n\nAPI requests are throttled to 2 requests every 5 seconds. This limit may be removed by [donating any amount](https://torrents.bio/donate) to help fund the service.\n\nThank you for supporting [BioTorrents.de](https://torrents.bio), an open platform for libre biology data."
    },
    "tags": [
        {
            "name": "Torrent groups",
            "description": "Torrent groups"
        },
        {
            "name": "Torrents",
            "description": "Torrents"
        },
        {
            "name": "Collages",
            "description": "Collages"
        },
        {
            "name": "Creators",
            "description": "Creators"
        },
        {
            "name": "Requests",
            "description": "Requests"
        },
        {
            "name": "Better",
            "description": "Better"
        },
        {
            "name": "Meta",
            "description": "Meta"
        }
    ],
    "servers": [
        {
            "url": "https://torrents.bio/api",
            "description": "production"
        },
        {
            "description": "development",
            "url": "https://dev.torrents.bio/api"
        }
    ],
    "paths": {
        "/groups/browse": {
            "post": {
                "summary": "Search for torrent groups",
                "operationId": "post-torrents-browse",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Torrent"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "requestBody": {
                    "content": {
                        "application/vnd.api+json": {
                            "schema": {
                                "$ref": "#/components/schemas/TorrentSearch"
                            }
                        }
                    }
                },
                "description": "Search Manticore by any combination of facets",
                "tags": [
                    "Torrent groups"
                ]
            },
            "parameters": []
        },
        "/groups": {
            "post": {
                "summary": "Create a torrent group",
                "operationId": "post-groups",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrent groups"
                ]
            }
        },
        "/groups/{identifier}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "identifier",
                    "in": "path",
                    "required": true,
                    "description": "id, uuid, or slug"
                }
            ],
            "get": {
                "summary": "Read a torrent group",
                "tags": [
                    "Torrent groups"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-groups-identifier"
            },
            "patch": {
                "summary": "Update a torrent group",
                "operationId": "patch-groups-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrent groups"
                ]
            },
            "delete": {
                "summary": "Delete a torrent group",
                "operationId": "delete-groups-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrent groups"
                ]
            }
        },
        "/torrents": {
            "post": {
                "summary": "Create a torrent",
                "operationId": "post-torrents",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrents"
                ],
                "description": "Upload a new torrent to the site"
            }
        },
        "/torrents/{identifier}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "identifier",
                    "in": "path",
                    "required": true,
                    "description": "id, uuid, or slug"
                }
            ],
            "get": {
                "summary": "Read a torrent",
                "tags": [
                    "Torrents"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Torrent"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-torrents-identifier",
                "description": "Get torrent details by various id's"
            },
            "patch": {
                "summary": "Update a torrent",
                "operationId": "patch-torrents-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Torrent"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrents"
                ],
                "description": "Update certain torrent fields"
            },
            "delete": {
                "summary": "Delete a torrent",
                "operationId": "delete-torrents-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Torrent"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Torrents"
                ],
                "description": "Soft delete a torrent"
            }
        },
        "/collages/browse": {
            "post": {
                "summary": "Search for collages",
                "operationId": "post-collages-browse",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Collages"
                ]
            }
        },
        "/collages": {
            "post": {
                "summary": "Create a collage",
                "operationId": "post-collages",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Collages"
                ]
            }
        },
        "/collages/{identifier}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "identifier",
                    "in": "path",
                    "required": true,
                    "description": "id, uuid, or slug"
                }
            ],
            "get": {
                "summary": "Read a collage",
                "tags": [
                    "Collages"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Collage"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-collages-identifier"
            },
            "patch": {
                "summary": "Update a collage",
                "operationId": "patch-collages-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Collages"
                ]
            },
            "delete": {
                "summary": "Delete a collage",
                "operationId": "delete-collages-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Collages"
                ]
            }
        },
        "/creators/browse": {
            "post": {
                "summary": "Search for creators",
                "operationId": "post-creators-browse",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Creators"
                ]
            }
        },
        "/creators": {
            "post": {
                "summary": "Create a creator",
                "operationId": "post-creators",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Creators"
                ]
            }
        },
        "/creators/{identifier}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "identifier",
                    "in": "path",
                    "required": true,
                    "description": "id, uuid, or slug"
                }
            ],
            "get": {
                "summary": "Read a creator",
                "tags": [
                    "Creators"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-creators-identifier"
            },
            "patch": {
                "summary": "Update a creator",
                "operationId": "patch-creators-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Creators"
                ]
            },
            "delete": {
                "summary": "Delete a creator",
                "operationId": "delete-creators-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Creators"
                ]
            }
        },
        "/requests/browse": {
            "post": {
                "summary": "Search for requests",
                "operationId": "post-requests-browse",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/requests": {
            "post": {
                "summary": "Create a request",
                "operationId": "post-requests",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/requests/{identifier}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "identifier",
                    "in": "path",
                    "required": true,
                    "description": "id, uuid, or slug"
                }
            ],
            "get": {
                "summary": "Read a request",
                "tags": [
                    "Requests"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-requests-identifier"
            },
            "patch": {
                "summary": "Update a request",
                "operationId": "patch-requests-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Requests"
                ]
            },
            "delete": {
                "summary": "Delete a request",
                "operationId": "delete-requests-identifier",
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "tags": [
                    "Requests"
                ]
            }
        },
        "/better/badFolders/{snatchedOnly}": {
            "get": {
                "summary": "Torrents with bad folders",
                "tags": [
                    "Better"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-better-badFolders",
                "requestBody": {
                    "content": {}
                }
            },
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "snatchedOnly",
                    "in": "path",
                    "description": "only show snatched torrents?",
                    "required": false
                }
            ]
        },
        "/better/badTags/{snatchedOnly}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "snatchedOnly",
                    "in": "path",
                    "description": "only show snatched torrents?",
                    "required": false
                }
            ],
            "get": {
                "summary": "Torrents with bad tags",
                "tags": [
                    "Better"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-better-badTags-snatchedOnly"
            }
        },
        "/better/missingCitations/{snatchedOnly}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "snatchedOnly",
                    "in": "path",
                    "description": "only show snatched torrents?",
                    "required": false
                }
            ],
            "get": {
                "summary": "Torrents without citations",
                "tags": [
                    "Better"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-better-missingCitations-snatchedOnly"
            }
        },
        "/better/missingPictures/{snatchedOnly}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "snatchedOnly",
                    "in": "path",
                    "description": "only show snatched torrents?",
                    "required": false
                }
            ],
            "get": {
                "summary": "Torrents with missing pictures",
                "tags": [
                    "Better"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-better-missingPictures-snatchedOnly"
            }
        },
        "/better/singleSeeder/{snatchedOnly}": {
            "parameters": [
                {
                    "schema": {
                        "type": "string"
                    },
                    "name": "snatchedOnly",
                    "in": "path",
                    "description": "only show snatched torrents?",
                    "required": false
                }
            ],
            "get": {
                "summary": "Torrents with one seeder",
                "tags": [
                    "Better"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-better-singleSeeder-snatchedOnly"
            }
        },
        "/meta/manifest": {
            "get": {
                "summary": "App manifest",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Manifest"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-meta-manifest",
                "description": "Retrieve BioGazelle's [web application manifest](https://developer.mozilla.org/en-US/docs/Web/Manifest)"
            }
        },
        "/meta/ontology": {
            "get": {
                "summary": "Site ontology",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/Ontology"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-meta-ontology",
                "description": "Retrieve the full site ontology, including its content categorization and supported metadata"
            }
        },
        "/meta/torrentStats": {
            "get": {
                "summary": "Torrent stats",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-meta-torrentStats",
                "description": "Read aggregate torrent and tracker economy stats"
            }
        },
        "/meta/userStats": {
            "get": {
                "summary": "User stats",
                "tags": [
                    "Meta"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OK"
                    },
                    "400": {
                        "$ref": "#/components/responses/BadRequest"
                    }
                },
                "operationId": "get-meta-userStats",
                "description": "Read aggregate site visitor stats from Plausible and the database"
            }
        }
    },
    "components": {
        "schemas": {
            "Torrent": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "groupId": {
                        "type": "integer"
                    },
                    "userId": {
                        "type": "integer"
                    },
                    "platform": {
                        "type": "string"
                    },
                    "format": {
                        "type": "string"
                    },
                    "license": {
                        "type": "string"
                    },
                    "scope": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "aligned": {
                        "type": "integer"
                    },
                    "anonymous": {
                        "type": "integer"
                    },
                    "infoHash": {
                        "type": "string"
                    },
                    "fileCount": {
                        "type": "integer"
                    },
                    "fileList": {
                        "type": "string"
                    },
                    "filePath": {
                        "type": "string"
                    },
                    "dataSize": {
                        "type": "integer"
                    },
                    "leecherCount": {
                        "type": "integer"
                    },
                    "seederCount": {
                        "type": "integer"
                    },
                    "lastAction": {
                        "type": "string"
                    },
                    "freeleech": {
                        "type": "string"
                    },
                    "freeleechType": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "snatchCount": {
                        "type": "integer"
                    },
                    "balance": {
                        "type": "integer"
                    },
                    "lastReseedRequest": {
                        "type": "null"
                    },
                    "archive": {
                        "type": "string"
                    },
                    "updatedAt": {
                        "type": "null"
                    },
                    "deletedAt": {
                        "type": "null"
                    }
                },
                "x-examples": {
                    "Example 1": {
                        "uuid": "ce801eba-f05a-11ed-8954-96000218b74c",
                        "id": 97,
                        "groupId": 85,
                        "userId": 2,
                        "platform": "Illumina MiSeq",
                        "format": "gzip",
                        "license": "Unspecified",
                        "scope": "Scaffold",
                        "version": "1.0.0",
                        "aligned": 0,
                        "anonymous": 1,
                        "infoHash": "94903061781625d3602ca68c0671e1d159a1edf0",
                        "fileCount": 18,
                        "fileList": ".txt s410s annotation_hashes.txt ÷\n.txt s14s assembly_status.txt ÷\n.txt s485131s GCA_002938355.1_ASM293835v1_assembly_report.txt ÷\n.txt s4320s GCA_002938355.1_ASM293835v1_assembly_stats.txt ÷\n.gz s7244732s GCA_002938355.1_ASM293835v1_cds_from_genomic.fna.gz ÷\n.gz s179s GCA_002938355.1_ASM293835v1_feature_count.txt.gz ÷\n.gz s505973s GCA_002938355.1_ASM293835v1_feature_table.txt.gz ÷\n.gz s14060486s GCA_002938355.1_ASM293835v1_genomic.fna.gz ÷\n.gz s26801365s GCA_002938355.1_ASM293835v1_genomic.gbff.gz ÷\n.gz s2643267s GCA_002938355.1_ASM293835v1_genomic.gff.gz ÷\n.gz s2413551s GCA_002938355.1_ASM293835v1_genomic.gtf.gz ÷\n.gz s3735s GCA_002938355.1_ASM293835v1_genomic_gaps.txt.gz ÷\n.gz s4186473s GCA_002938355.1_ASM293835v1_protein.faa.gz ÷\n.gz s8978798s GCA_002938355.1_ASM293835v1_protein.gpff.gz ÷\n.gz s7138041s GCA_002938355.1_ASM293835v1_rna_from_genomic.fna.gz ÷\n.gz s5036403s GCA_002938355.1_ASM293835v1_translated_cds.faa.gz ÷\n.gz s1257s GCA_002938355.1_ASM293835v1_wgsmaster.gbff.gz ÷\n.txt s1299s md5checksums.txt ÷",
                        "filePath": "Panaeolus.cyanescens",
                        "dataSize": 79505434,
                        "leecherCount": 0,
                        "seederCount": 0,
                        "lastAction": "2023-04-21 17:03:52",
                        "freeleech": "1",
                        "freeleechType": "3",
                        "createdAt": "2023-05-12 00:20:32",
                        "description": "Mirror of https://www.ncbi.nlm.nih.gov/assembly/GCA_002938355.1",
                        "snatchCount": 5,
                        "balance": 0,
                        "lastReseedRequest": null,
                        "archive": "",
                        "updatedAt": null,
                        "deletedAt": null
                    }
                },
                "title": "Torrent"
            },
            "TorrentSearch": {
                "type": "object",
                "properties": {
                    "simpleSearch": {
                        "type": "string"
                    },
                    "complexSearch": {
                        "type": "string"
                    },
                    "numbers": {
                        "type": "string"
                    },
                    "year": {
                        "type": "string"
                    },
                    "location": {
                        "type": "string"
                    },
                    "creator": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "fileList": {
                        "type": "string"
                    },
                    "platforms": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "formats": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "archives": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "leechStatus": {
                        "type": "integer"
                    },
                    "scopes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "licenses": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "alignment": {
                        "type": "integer"
                    },
                    "sizeMin": {
                        "type": "integer"
                    },
                    "sizeMax": {
                        "type": "integer"
                    },
                    "sizeUnit": {
                        "type": "integer"
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        }
                    },
                    "tagList": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "tagsType": {
                        "type": "string"
                    },
                    "orderBy": {
                        "type": "string"
                    },
                    "orderWay": {
                        "type": "string"
                    },
                    "groupResults": {
                        "type": "string"
                    },
                    "openaiContent": {
                        "type": "string"
                    }
                },
                "title": "Torrent search"
            },
            "Manifest": {
                "type": "object",
                "properties": {
                    "$schema": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "short_name": {
                        "type": "string"
                    },
                    "start_url": {
                        "type": "string"
                    },
                    "display": {
                        "type": "string"
                    },
                    "background_color": {
                        "type": "string"
                    },
                    "theme_color": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "icons": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "src": {
                                    "type": "string"
                                },
                                "sizes": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "x-examples": {
                    "Example 1": {
                        "$schema": "https://json.schemastore.org/web-manifest-combined.json",
                        "name": "dev.torrents.bio",
                        "short_name": "dev.torrents.bio",
                        "start_url": "/",
                        "display": "standalone",
                        "background_color": "#ffffff",
                        "theme_color": "#0288d1",
                        "description": "An open platform for libre biology data",
                        "icons": [
                            {
                                "src": "/images/logos/liquidrop-bookish-1k.png",
                                "sizes": "1024x1024",
                                "type": "image/png"
                            },
                            {
                                "src": "/images/logos/liquidrop-postmod-1k.png",
                                "sizes": "1024x1024",
                                "type": "image/png"
                            }
                        ]
                    }
                },
                "title": "Manifest"
            },
            "Collage": {
                "type": "object",
                "properties": {
                    "uuid": {
                        "type": "string"
                    },
                    "id": {
                        "type": "integer"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "userId": {
                        "type": "integer"
                    },
                    "torrentCount": {
                        "type": "integer"
                    },
                    "deletedAt": {
                        "type": "null"
                    },
                    "isLocked": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer"
                    },
                    "tagList": {
                        "type": "string"
                    },
                    "maxGroups": {
                        "type": "integer"
                    },
                    "maxGroupsPerUser": {
                        "type": "integer"
                    },
                    "isFeatured": {
                        "type": "integer"
                    },
                    "subscriberCount": {
                        "type": "integer"
                    },
                    "updatedAt": {
                        "type": "null"
                    },
                    "createdAt": {
                        "type": "string"
                    }
                },
                "x-examples": {
                    "Example 1": {
                        "uuid": "cdb6f8ea-f05a-11ed-8954-96000218b74c",
                        "id": 13,
                        "title": "Psychoactive Mushrooms",
                        "description": "![](https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Psilocybn.svg/2000px-Psilocybn.svg.png)\r\n\r\nEverything related to psilocybin, the molecule that makes mushrooms magic!\r\nBiosynthetic pathways, psilocybe genomics and phylogenetics, chemical analyses of psychoactive mushrooms alkaloids, it's all here.\r\n\r\nThis collection also showcases data about other psychoactive fungi compounds such as muscimol and ergotamine.",
                        "userId": 2,
                        "torrentCount": 9,
                        "deletedAt": null,
                        "isLocked": "0",
                        "categoryId": 1,
                        "tagList": "fungi biochemistry psychedelic gene.expression coding",
                        "maxGroups": 0,
                        "maxGroupsPerUser": 0,
                        "isFeatured": 0,
                        "subscriberCount": 0,
                        "updatedAt": null,
                        "createdAt": "2023-05-12 00:20:30"
                    }
                },
                "title": "Collage"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Bad Request",
                "content": {
                    "application/vnd.api+json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": [
                                        "object",
                                        "array"
                                    ]
                                },
                                "jsonapi": {
                                    "type": "object",
                                    "properties": {
                                        "version": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Torrent": {
                "description": "OK",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "x-examples": {
                                "Example 1": {
                                    "data": {
                                        "uuid": "ce7c716e-f05a-11ed-8954-96000218b74c",
                                        "id": 1,
                                        "groupId": 1,
                                        "userId": 2,
                                        "platform": "Sanger",
                                        "format": "FASTA",
                                        "license": "Public Domain",
                                        "scope": "Contig",
                                        "version": "",
                                        "aligned": 0,
                                        "anonymous": 1,
                                        "infoHash": "6a5413b9a0c5ef5b68bed6abbb8112cbe3870647",
                                        "fileCount": 4,
                                        "fileList": ".fsa s1095s S288C_YOL086C_ADH1_coding.fsa ÷\n.fsa s3157s S288C_YOL086C_ADH1_flanking.fsa ÷\n.fsa s1117s S288C_YOL086C_ADH1_genomic.fsa ÷\n.fsa s385s S288C_YOL086C_ADH1_protein.fsa ÷",
                                        "filePath": "ADH1 - YOL086C",
                                        "dataSize": 5754,
                                        "leecherCount": 0,
                                        "seederCount": 0,
                                        "lastAction": "2023-04-19 03:37:42",
                                        "freeleech": "1",
                                        "freeleechType": "3",
                                        "createdAt": "2023-05-12 00:20:32",
                                        "description": "foo",
                                        "snatchCount": 8,
                                        "balance": 0,
                                        "lastReseedRequest": null,
                                        "archive": "None",
                                        "updatedAt": "2023-05-20 04:49:50",
                                        "deletedAt": null
                                    },
                                    "jsonapi": {
                                        "version": "1.1"
                                    },
                                    "meta": {
                                        "id": "6469716b31149",
                                        "count": 29
                                    }
                                }
                            },
                            "properties": {
                                "data": {
                                    "$ref": "#/components/schemas/Torrent"
                                },
                                "jsonapi": {
                                    "type": "object",
                                    "properties": {
                                        "version": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Manifest": {
                "description": "OK",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "x-examples": {
                                "Example 1": {
                                    "data": {
                                        "$schema": "https://json.schemastore.org/web-manifest-combined.json",
                                        "name": "dev.torrents.bio",
                                        "short_name": "dev.torrents.bio",
                                        "start_url": "/",
                                        "display": "standalone",
                                        "background_color": "#ffffff",
                                        "theme_color": "#0288d1",
                                        "description": "An open platform for libre biology data",
                                        "icons": [
                                            {
                                                "src": "/images/logos/liquidrop-bookish-1k.png",
                                                "sizes": "1024x1024",
                                                "type": "image/png"
                                            },
                                            {
                                                "src": "/images/logos/liquidrop-postmod-1k.png",
                                                "sizes": "1024x1024",
                                                "type": "image/png"
                                            }
                                        ]
                                    },
                                    "jsonapi": {
                                        "version": "1.1"
                                    },
                                    "meta": {
                                        "id": "64697116f301b",
                                        "count": 9
                                    }
                                }
                            },
                            "properties": {
                                "data": {
                                    "$ref": "#/components/schemas/Manifest"
                                },
                                "jsonapi": {
                                    "type": "object",
                                    "properties": {
                                        "version": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "meta": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "count": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "Ontology": {
                "description": "OK",
                "content": {
                    "application/json": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "data": {
                                    "type": "object",
                                    "properties": {
                                        "1": {
                                            "type": "object",
                                            "properties": {
                                                "ID": {
                                                    "type": "integer"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "type": "string"
                                                },
                                                "Platforms": {
                                                    "type": "object",
                                                    "properties": {
                                                        "0": {
                                                            "type": "string"
                                                        },
                                                        "1": {
                                                            "type": "string"
                                                        },
                                                        "2": {
                                                            "type": "string"
                                                        },
                                                        "3": {
                                                            "type": "string"
                                                        },
                                                        "4": {
                                                            "type": "string"
                                                        },
                                                        "5": {
                                                            "type": "string"
                                                        },
                                                        "6": {
                                                            "type": "string"
                                                        },
                                                        "7": {
                                                            "type": "string"
                                                        },
                                                        "8": {
                                                            "type": "string"
                                                        },
                                                        "9": {
                                                            "type": "string"
                                                        },
                                                        "10": {
                                                            "type": "string"
                                                        },
                                                        "11": {
                                                            "type": "string"
                                                        },
                                                        "12": {
                                                            "type": "string"
                                                        },
                                                        "13": {
                                                            "type": "string"
                                                        },
                                                        "14": {
                                                            "type": "string"
                                                        },
                                                        "15": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "Formats": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Nucleotides": {
                                                            "type": "object",
                                                            "properties": {
                                                                "BAM": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "CRAM": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "EMBL": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "FASTA": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "FASTA+QUAL": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "CSFASTA": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "FASTQ": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "GFF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "GTF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "GenBank": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "HDF5": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        },
                                                                        "3": {
                                                                            "type": "string"
                                                                        },
                                                                        "4": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "PIR": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "QSeq": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "SAM": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "SFF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "SRF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "SnapGene": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "SwissProt": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "VCF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "Proteins": {
                                                            "type": "object",
                                                            "properties": {
                                                                "ABI/Sciex": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "APML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "ASF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Agilent/Bruker": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        },
                                                                        "3": {
                                                                            "type": "string"
                                                                        },
                                                                        "4": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "BlibBuild": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Bruker/Varian": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Finnigan": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "ION-TOF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "JCAMP-DX": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "MGF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "MS2": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "MSF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "mzData": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "mzML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "mzXML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "OMSSA": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "PEFF": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "pepXML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "protXML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Shimadzu": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        },
                                                                        "2": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Skyline": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "TPP/SPC": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Tandem": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "TraML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "ULVAC-PHI": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        },
                                                        "Plaintext": {
                                                            "type": "object",
                                                            "properties": {
                                                                "CSV": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "JSON": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "Text": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        },
                                                                        "1": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "XML": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "0": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "scopes": {
                                                    "type": "object",
                                                    "properties": {
                                                        "Sequences": {
                                                            "type": "object",
                                                            "properties": {
                                                                "0": {
                                                                    "type": "string"
                                                                },
                                                                "1": {
                                                                    "type": "string"
                                                                },
                                                                "2": {
                                                                    "type": "string"
                                                                },
                                                                "3": {
                                                                    "type": "string"
                                                                },
                                                                "4": {
                                                                    "type": "string"
                                                                },
                                                                "5": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "Metric": {
                                                            "type": "object",
                                                            "properties": {
                                                                "0": {
                                                                    "type": "string"
                                                                },
                                                                "1": {
                                                                    "type": "string"
                                                                },
                                                                "2": {
                                                                    "type": "string"
                                                                },
                                                                "3": {
                                                                    "type": "string"
                                                                },
                                                                "4": {
                                                                    "type": "string"
                                                                },
                                                                "5": {
                                                                    "type": "string"
                                                                },
                                                                "6": {
                                                                    "type": "string"
                                                                },
                                                                "7": {
                                                                    "type": "string"
                                                                },
                                                                "8": {
                                                                    "type": "string"
                                                                },
                                                                "9": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "2": {
                                            "type": "object",
                                            "properties": {
                                                "ID": {
                                                    "type": "integer"
                                                },
                                                "Name": {
                                                    "type": "string"
                                                },
                                                "Description": {
                                                    "type": "string"
                                                },
                                                "Platforms": {
                                                    "type": "object",
                                                    "properties": {
                                                        "0": {
                                                            "type": "string"
                                                        },
                                                        "1": {
                                                            "type": "string"
                                                        },
                                                        "2": {
                                                            "type": "string"
                                                        },
                                                        "3": {
                                                            "type": "string"
                                                        },
                                                        "4": {
                                                            "type": "string"
                                                        },
                                                        "5": {
                                                            "type": "string"
                                                        },
                                                        "6": {
                                                            "type": "string"
                                                        },
                                                        "7": {
                                                            "type": "string"
                                                        },
                                                        "8": {
                                                            "type": "string"
                                                        },
                                                        "9": {
                                                            "type": "string"
                                                        },
                                                        "10": {
                                                            "type": "string"
                                                        },
                                                        "11": {
                                                            "type": "string"
                                                        },
                                                        "12": {
                                                            "type": "string"
                                                        },
                                                        "13": {
                                                            "type": "string"
                                                        },
                                                        "14": {
                                                            "type": "string"
                                                        },
                                                        "15": {
                                                            "type": "string"
                                                        },
                                                        "16": {
[...]
